1. Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [1]:
# Importamos mysql.conector para poder hacer la conexión con mysql server
import mysql.connector

In [34]:
# Nos conectamos a la base de datos northwind
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')
# iniciamos el cursor
mycursor = mydb.cursor()

# ejecutamos la query 'SHOW DATABASES' para que nos muestre todas las BBDD que tenemos en nuestro servidor y printeamos a través de un for loop.
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('creacion_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-2-sql',)
('leccion_10_sql',)
('leccion_11_sql',)
('leccion_12_sql',)
('leccion_13_sql',)
('leccion_14_sql',)
('leccion_3_sql',)
('leccion_4_sql',)
('leccion_5_sql',)
('leccion_6_sql',)
('leccion_7_sql',)
('leccion_8_sql',)
('leccion_9_sql',)
('mysql',)
('northwind',)
('performance_schema',)
('project1',)
('sakila',)
('spotify',)
('tienda',)
('tienda_zapatillas',)
('world',)

2. Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [13]:
# Ejecutamos la query "SHOW TABLES" para ver las tablas de la BBDD northwind y las printeamos a través de un for loop.
mycursor.execute("SHOW TABLES")
tablas = []
for x in mycursor:
  tablas.append(x) #apendamos los resultados a una tabla vacía llamada tablas para usarla en el ejercicio siguiente.
  print(x)

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

3. ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [30]:
'''"primera-toma-contacto "mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA" 
)
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'categories'")
for x in mycursor:
  print('Las columnas de la tabla categories son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'customer_customer_demo'")
for x in mycursor:
  print('Las columnas de la tabla customer_customer_demo son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'customer_demographics'")
for x in mycursor:
  print('Las columnas de la tabla customer_demographics son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'customers'")
for x in mycursor:
  print('Las columnas de la tabla customers son:', x)


mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'employee_territories'")
for x in mycursor:
  print('Las columnas de la tabla customer_customer_demo son:', x)


mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'employees'")
for x in mycursor:
  print('Las columnas de la tabla employees son:', x)


mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'order_details'")
for x in mycursor:
  print('Las columnas de la tabla order_details son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'orders'")
for x in mycursor:
  print('Las columnas de la tabla orders son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'products'")
for x in mycursor:
  print('Las columnas de la tabla products son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'region'")
for x in mycursor:
  print('Las columnas de la tabla region son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'shippers'")
for x in mycursor:
  print('Las columnas de la tabla shippers son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'suppliers'")
for x in mycursor:
  print('Las columnas de la tabla suppliers son:', x)

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'territories'")
for x in mycursor:
  print('Las columnas de la tabla territories son:', x) '''

'"primera-toma-contacto "mydb = mysql.connector.connect(\n  host="localhost",\n  user="root",\n  password="AlumnaAdalab",\n  database="INFORMATION_SCHEMA" \n)\nmycursor = mydb.cursor()\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'categories\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla categories son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'customer_customer_demo\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla customer_customer_demo son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'customer_demographics\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla customer_demographics son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'customers\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla customers son:\', x)\n\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'employee_territories\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla customer_customer_demo son:\', x)\n\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'employees\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla employees son:\', x)\n\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'order_details\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla order_details son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'orders\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla orders son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'products\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla products son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'region\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla region son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'shippers\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla shippers son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'suppliers\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla suppliers son:\', x)\n\nmycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = \'territories\'")\nfor x in mycursor:\n  print(\'Las columnas de la tabla territories son:\', x) '

In [40]:
#Creemos que tiene que haber una forma automática de sacar todas las columnas:
# Para poder ver las columnas de una tabla tenemos que conectarnos al database "INFORMATION_SCHEMA" 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA" 
  )

mycursor = mydb.cursor()
#Creamos la query de consulta para mostrar las columnas de cada tabla
query = "SELECT * FROM COLUMNS WHERE TABLE_NAME = %s"
#Iteramos por los elementos de la lista tablas que hemos creado en la consulta anterior para saber cuales son las tablas de nuestra base de datos
# y para cada tabla iteramos por mycursor para printear las columnas
for tabla in tablas:
  mycursor.execute(query, tabla)
  
  for x in mycursor:
      #print(f'Las columnas de la tabla {tabla} son {x}')
        
    mycursor.close()
    mydb.close()

InternalError: Unread result found

4. Hagamos unas queries facilitas:
- Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
- Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
- Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
- Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [48]:
# Como en la consulta anterior hemos cerrado el conector y la conexión a "INFORMATION_SCHEMA" , volvemos a conectarnos a la base de datos northwind y a inicar el conetor
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()
# Creamos nuestra query para la consulta: Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
query = """SELECT order_id, (quantity * unit_price)
            FROM order_details
            ORDER BY (quantity * unit_price) DESC"""

mycursor.execute(query)
#Como solo queremos el dato donde más se ha gastado usamos fecthone para imprimir solo el primer resultado
myresult = mycursor.fetchone()
print(myresult)

(10865, 15810.0)

In [55]:
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

# Creamos nuestra query para la consulta: Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
query1 = """SELECT order_id, (quantity * unit_price)
            FROM order_details
            ORDER BY (quantity * unit_price) DESC"""

mycursor.execute(query1)
#Para imprimir todos los resultados usamos fetchall
myresult1 = mycursor.fetchall()
print(myresult1[0:11]) #Filtramos los 10 primeros para que no sea un print demasiado largo

[(10865, 15810.0), (10981, 15810.0), (10353, 10540.0), (10417, 10540.0), (10889, 10540.0), (10424, 10329.2), (10897, 9903.2), (10372, 8432.0), (10540, 7905.0), (10816, 7905.0), (10817, 7905.0)]

In [62]:
#importamos pandas para poder usar dataframe
import pandas as pd

In [65]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

mycursor = cnx.cursor()

# Creamos nuestra query para la consulta: Extraed el números de pedidos que se hayan hecho por dia.
        # Seleccionamos la fecha y el numero de pedidos agrupado por la fecha de pedido.
query3 = """SELECT order_date, count(distinct order_id)
            FROM orders
            GROUP BY order_date"""

mycursor.execute(query3)
myresult = mycursor.fetchall()

# Usamos Dataframe de panda para ver el resultado en formato tabla
df = pd.DataFrame(myresult, columns = ['Fecha', 'Numero de pedidos'])
print (df)

         Fecha  Numero de pedidos
0   1996-07-04                  1
1   1996-07-05                  1
2   1996-07-08                  2
3   1996-07-09                  1
4   1996-07-10                  1
..         ...                ...
475 1998-04-30                  4
476 1998-05-01                  3
477 1998-05-04                  3
478 1998-05-05                  4
479 1998-05-06                  4

[480 rows x 2 columns]

In [66]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

mycursor = cnx.cursor()

# Creamos nuestra query para la consulta: Extraer los pedidos hechos por "Nancy Daviolo". 
        # Seleccionamos el numero depedido y de cliente filtrando en el where donde el id de empleado sea Nancy Daviolio
query4 = """SELECT order_id, customer_id
            FROM orders
            WHERE employee_id IN(
		                        SELECT first_name = 'Nancy' AND last_name = 'Davolio'
                                FROM employees); """

mycursor.execute(query4)
myresult = mycursor.fetchall()

# Usamos Dataframe de panda para ver el resultado en formato tabla
df1 = pd.DataFrame(myresult, columns = ['Numero de pedido', 'Numero de cliente'])
print (df1)

     Numero de pedido Numero de cliente
0               10258             ERNSH
1               10270             WARTH
2               10275             MAGAA
3               10285             QUICK
4               10292             TRADH
..                ...               ...
118             11064             SAVEA
119             11067             DRACD
120             11069             TORTU
121             11071             LILAS
122             11077             RATTC

[123 rows x 2 columns]


5. Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [67]:
# Cerramos la conexión con el conector y con el servidor
mycursor.close()
mydb.close()